@import "tailwindcss";

@theme {
  --color-primary: #28e98c;
  --color-secondary: #6b7280;
  --color-ternary: #ff4500;
  --color-dark: #1f2937;
  --color-light: #f9fafb;
  --color-text: #000000;
  --color-bg: #ffffff;
  --font-sans: "Inter", sans-serif;
}
:root {
  --primary-bg: #fff;
  --theme: #28e98c;
  --header: #1c1d20;
  --text: #666666;
  --border: #273536;
  --bg: #f9f9f9;
  --bg-2: #1c1d20;
  --border: 1.5px solid rgba(102, 102, 102, 0.24);
  --border-2: 1.5px solid #28e98c;
  --border-3: 1.5px solid rgba(102, 102, 102, 0.16);
  --box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.06);
}
.dark {
  --primary-bg: #0a0909;
  --theme: #28e98c;
  --header: #1c1d20;
  --text: #666666;
  --border: #273536;
  --bg: #f9f9f9;
  --bg-2: #1c1d20;
  --border: 1.5px solid rgba(102, 102, 102, 0.24);
  --border-2: 1.5px solid #28e98c;
  --border-3: 1.5px solid rgba(102, 102, 102, 0.16);
  --box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.06);
}

@custom-variant dark (&:where(.dark, .dark *));

a {
  transition: all 0.2s ease;
}
.btn-grad {
  background-image: linear-gradient(
    to right,
    #ee9ca7 0%,
    #ffdde1 51%,
    #ee9ca7 100%
  );
  margin: 2px;
  text-align: center;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 10px rgba(238, 156, 167, 0.3);
  border-radius: 9999px;
  display: inline-block;
}
.btn-gradDark {
  background-image: linear-gradient(
    to right,
    #6190e8 0%,
    #a7bfe8 51%,
    #6190e8 100%
  );
  margin: 2px;
  text-align: center;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 10px rgba(74, 189, 224, 0.3);
  border-radius: 9999px;
  display: inline-block;
}

.btn-gradgreen {
  background-image: linear-gradient(
    to right,
    #1d976c 0%,
    #93f9b9 51%,
    #1d976c 100%
  );
  margin: 2px;
  text-align: center;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 10px rgba(74, 189, 224, 0.3);
  border-radius: 9999px;
  display: inline-block;
}

@layer components {
  .container {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }
  .btn {
    @apply px-4 py-2 rounded-md font-medium transition-colors duration-200;
  }
  .btn-primary {
    @apply bg-primary text-white hover:bg-primary/90;
  }
  .btn-secondary {
    @apply bg-secondary text-white hover:bg-secondary/90;
  }
  .section-title {
    @apply text-xl lg:text-2xl font-bold mb-8 text-center;
  }
  .flex-i {
    @apply flex  items-center;
  }
  .flex-j {
    @apply flex justify-center;
  }
  .flex-j-i {
    @apply flex justify-center items-center;
  }
  .text-page-heading {
    @apply text-2xl md:text-3xl lg:text-4xl;
  }
  .text-subheading {
    @apply text-lg md:text-xl lg:text-2xl;
  }
  .text-3xl-l {
    @apply text-2xl lg:text-3xl;
  }
  .card-title {
    @apply text-lg lg:text-xl;
  }
  .card-description {
    @apply text-sm lg:text-lg;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
